<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <connectionStrings>
    <add name="appsConnectionString"
      connectionString="Data Source=vmsql-01;Initial Catalog=apps;Persist Security Info=True;User ID=sa;Password=vudb2112mississauga~"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation targetFramework="4.5.2" debug="true"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>

</configuration>