<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="V5_Vubz"               connectionString="Data Source=stagingdata,1400;Initial Catalog=V5_Vubz; Persist Security Info=True;User ID=apps;  Password=C8WDEzy9HPzjnDpWcFYm5UXk"  providerName="System.Data.SqlClient" />
    <add name="appsConnectionString"  connectionString="Data Source=stagingdata,1400;Initial Catalog=apps;    Persist Security Info=True;User ID=sa;    Password=vudb2112mississauga~"      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <!-- V5 runs best under 4.5.2 - best not to upgrade framework, issue with web service -->
    <compilation targetFramework="4.5.2" debug="true"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>

</configuration>