<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- check connection string before publishing live -->
  <connectionStrings>
    <add name="V5_Vubz"               connectionString="Data Source=VMSQL-01;Initial Catalog=V5_Vubz; Persist Security Info=True;User ID=apps;  Password=C8WDEzy9HPzjnDpWcFYm5UXk"    providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="appsConnectionString"  connectionString="Data Source=vmsql-01;Initial Catalog=apps;    Persist Security Info=True;User ID=sa;    Password=vudb2112mississauga~"        providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>