html { font-size: 80%; }

body, div, table, tr, th, td, textarea, input, span, p, li, h1, h2, h3, h4, h5, h6, .c1, .c2, hr, select,
.button, .button040, .button070, .button085, .button100, .button150, .cke_editable { font-family: "Segoe UI", Arial, Helvetica, sans-serif; font-size: 100%; color: black; }

.button, .button040, .button070, .button085, .button100, .button150, .button200 { text-align: center; border: 1px solid navy; background-color: #FFFFFF; font-size: .95em; color: #071e81; }

.code { font-family: Courier New, Courier, monospace; font-size: 1.1em; color: #071e81; }

body { margin: 0; padding: 0; }

table { border-collapse: collapse; width: 100%; border-spacing: 0; }
th { vertical-align: top; padding: 2px; border: 1px solid #DDEEF9; text-align: right; white-space: nowrap; }
td { vertical-align: top; padding: 2px; border: 1px solid #DDEEF9; text-align: left; }

/* create a data table class to differentiate between the shell table */
.table { border-collapse: collapse; width: 100%; border-spacing: 0; }
  .table tbody th { vertical-align: top; padding: 2px; border: 1px solid #DDEEF9; text-align: right; white-space: nowrap; width: 40%; }
  .table tbody td { vertical-align: top; padding: 2px; border: 1px solid #DDEEF9; text-align: left; }

/* rowshade best with th */
.rowshade { color: white; background-color: #4c8be8; white-space: nowrap; text-align: center; font-weight: bold; border: 1px solid white; padding: 5px; vertical-align: middle; }
  .rowshade a { color: white; font-weight: bold; }

textarea { width: 500px; height: 100px; }

h1, h2, h3, .c1, .c2, .c3 { margin: 10px 0 10px 0; }

h1, h2, h3 { text-align: center; }

.c1, .c2, .c3 { text-align: left; }

h1, .c1 { font-size: 1.35em; color: #4c8be8; font-weight: bold; }

h2, .c2, legend { font-size: 1.15em; color: #2868c6; font-weight: bold; }

h3, .c3 { font-size: 1.00em; color: #071e81; font-weight: bold; }

h5, h6, .c5, .c6, .buttonAlert { text-align: center; color: red; font-size: 1.15em; font-weight: bold; }
.c5, .c6 { text-align: left; }
h6, .c6 { font-size: 1.00em; }

a { color: navy; font-weight: normal; }

.topline { border-top: 1px solid #000000; }

.underlineOff { border-bottom: 0px; }

.underline { border-bottom: 1px solid #BDD9FB; }

.underlineGreen { border-bottom: 1px solid #008000; }

.underlineBlack { border-bottom: 1px solid #000000; }

.underlineRed { border-bottom: 1px solid #FF0000; }

.overline { border-top: 1px solid #BDD9FB; }

.overlineGreen { border-top: 1px solid #008000; }

.debug, .orange { color: orange; }

.black { color: #000000; }

.red { color: #FF0000; }

.yellow { color: yellow; }

.bgYellow { background-color: yellow; }

.grey { color: grey; }

.bgGrey { background-color: grey; }

.green { color: #008000; }

.button040 { width: 40px; }

.button070 { width: 70px; }

.button085 { width: 85px; }

.button100 { width: 100px; }

.button150 { width: 150px; }

.button200 { width: 200px; }

.div { display: none; margin: 0px; }

.expandable { font-style: italic; width: 120px; }

.less { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; -o-text-overflow: ellipsis; }

.processingCurtain { background-color: white; opacity: 0.3; filter: alpha(opacity=30); }

.processingIcon { text-align: center; position: absolute; top: 30%; left: 45%; }

.notice { background-color: lightyellow; }

.shell { border-spacing: 0; }
  .shell tr { padding: 0; }
  .shell td { padding: 0; border: 0; }
.shellTopLeft { width: 23px; height: 23px; background: url('/V5/Images/Shell/HolderTop_Left.gif'); background-repeat: no-repeat; }
.shellTopRight { width: 23px; height: 23px; background: url('/V5/Images/Shell/HolderTop_Right.gif'); background-repeat: no-repeat; }
.shellBottomLeft { width: 23px; height: 23px; background: url('/V5/Images/Shell/HolderBottom_Left.gif'); background-repeat: no-repeat; }
.shellBottomRight { width: 23px; height: 23px; background: url('/V5/Images/Shell/HolderBottom_Right.gif'); background-repeat: no-repeat; }
.shellTop { background: url('/V5/Images/Shell/HolderTop_Bg.gif'); background-repeat: repeat-x; }
.shellBottom { background: url('/V5/Images/Shell/HolderBottom_Bg.gif'); background-repeat: repeat-x; }
.shellLeft { width: 10px; background: url('/V5/Images/Shell/HolderLeft_Spacer.gif'); background-repeat: repeat-y; }
.shellRight { width: 10px; background: url('/V5/Images/Shell/Holderright_Spacer.gif'); background-repeat: repeat-y; }
